{% extends 'extends.html' %}
{% load static %}

{% block navbar %} {% include 'components/navbar.html' %} {% endblock %}


{% block content %}

<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        {% block dashboard_nav %} {% include 'components/dashboard_nav.html' %} {% endblock %}
        <div class="col-lg-9 table-responsive mb-5">
            <form id="form-plant-tree" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="age">Idade da Planta</label>
                    <input type="text" name="age" class="form-control">
                </div>

                <div class="form-group">
                    <label for="location">Localizacao</label>
                    <input type="text" name="location" class="form-control" placeholder="(122.21, 1231231123)">
                    <p class="font-weight-lighter">Para adicionar mais de uma planta, basta usar a virgula apos a tupla (12,12), (123,123).</p>
                </div>

                <div class="form-group">
                    <label for="plant">Selecione uma Planta</label>
                    <select class="form-control" name="plant" id="plant">
                        {% for plant in plants %}
                        <option value={{plant.id}}>{{plant.name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="account">Selecione sua Conta</label>
                    <select class="form-control" name="account" id="account">
                        {% for account in accounts %}
                        <option value={{account.id}}>{{account.name}}</option>
                        {% endfor %}
                    </select>
                </div>


                <button type="submit" class="btn btn-primary">Adicionar Planta</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}


{% block dependecies %}
{% include 'components/dependencies.html' %}
<script src="{% static 'js/services/plant.js' %}"></script>

{% endblock %}