{% extends 'extends.html' %}
{% load static %}
{% block navbar %} {% include 'components/navbar.html' %} {% endblock %}


{% block content %}
<div class="container-fluid pt-3">
    <div class="row px-xl-5">
        {% block dashboard_nav %} {% include 'components/dashboard_nav.html' %} {% endblock %}
        <div class="col-lg-9 table-responsive mb-5">
            <table class="table table-bordered text-center mb-0">
                <thead class="bg-secondary text-dark">
                    <tr>
                        <th>ID</th>
                        <th>Árvores</th>
                        <th>Conta</th>
                        <th>Data de plantio</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    {% for tree in trees %}
                    <tr>
                        <td class="align-middle">{{tree.id}}</td>
                        <td class="align-middle">{{tree.plant.name}}</td>
                        <td class="align-middle">{{tree.account.name}}</td>
                        <td class="align-middle">{{tree.plated_at}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}

{% block dependecies %}
{% include 'components/dependencies.html' %}
{% endblock %}