{% extends 'extends.html' %}
{% load static %}

{% block navbar %} {% include 'components/navbar.html' %} {% endblock %}


{% block content %}

<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        {% block dashboard_nav %} {% include 'components/dashboard_nav.html' %} {% endblock %}
        <div class="col-lg-9 table-responsive mb-5">
            <form id="form-profile-update" method="PUT">
                {% csrf_token %}
                <div class="form-group">
                    <label for="about">Sobre</label>
                    <textarea name="about" class="form-control">{{about}}</textarea>
                </div>

                <button type="submit" class="btn btn-primary">Atualizar Perfil</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}


{% block dependecies %}
{% include 'components/dependencies.html' %}
<script src="{% static 'js/services/user.js' %}"></script>

{% endblock %}