{% extends 'extends.html' %}
{% load static %}
{% block navbar %} {% include 'components/navbar.html' %} {% endblock %}

{% block content %}
<div class="container-fluid pt-3">
    <div class="row px-xl-5">
        {% block dashboard_nav %} {% include 'components/dashboard_nav.html' %} {% endblock %}
        <div class="col-lg-9 table-responsive mb-5">
            <table class="table table-bordered text-center mb-0">
                <thead class="bg-secondary text-dark">
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Data de Criação</th>
                        <th>Ativo</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    {% for account in accounts %}
                    <tr>
                        <td class="align-middle">{{account.id}}</td>
                        <td class="align-middle">{{account.name}}</td>
                        <td class="align-middle">{{account.created|date:"d M, Y"}}</td>
                        <td class="align-middle">
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input input-account-active" id={{account.id}} {% if account.active %} checked {% endif %}>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}


{% block dependecies %}
{% include 'components/dependencies.html' %}
<script src="{% static 'js/services/account.js' %}"></script>
{% endblock %}