{% extends 'extends.html' %}
{% load static %}
{% block navbar %} {% include 'components/navbar.html' %} {% endblock %}


{% block content %}

<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        {% block dashboard_nav %} {% include 'components/dashboard_nav.html' %} {% endblock %}
        <div class="col-lg-9 table-responsive mb-5">
            <form id="form-user-create" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" name="email" class="form-control">
                </div>

                <div class="form-group">
                    <label for="username">Usuário</label>
                    <input type="text" name="username" class="form-control">
                </div>

                <div class="form-group">
                    <label for="first_name">Nome</label>
                    <input type="text" name="first_name" class="form-control">
                </div>

                <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="text" name="password" class="form-control">
                </div>

                <div class="form-group">
                    <label for="account">Contas</label>
                    <select multiple class="form-control" name="account" id="account">
                        {% for account in accounts %}
                        <option value={{account.id}}>{{account.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Adicionar Usuário</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}


{% block dependecies %}
{% include 'components/dependencies.html' %}
<script src="{% static 'js/services/user.js' %}"></script>

{% endblock %}