{% extends 'extends.html' %}
{% load static %}
{% block navbar %} {% include 'components/navbar.html' %} {% endblock %}

{% block content %}
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        {% include 'components/dashboard_nav.html' %}
    </div>
</div>
{% endblock content %}