{% extends 'extends.html' %}
{% load static %}

{% block content %}

<div class="container-fluid pt-5">
    <div class="text-center">
        <h2 class="section-title px-5 mt-3 mb-3"><span class="px-2">Login</span></h2>
    </div>
    <div class="d-flex justify-content-center">
        <form class="col-lg-4" action="{% url 'account:login' %}" method="POST">
            {% csrf_token %}
            <div class="control-group">
                <label class="form-label">Nome de usuario</label>
                <input type="username" class="form-control" id="username" placeholder="Digite seu nome de usuario" name="username" required="required" />
                <p class="help-block text-danger"></p>
            </div>
            <div class="control-group">
                <label class="form-label">Senha</label>
                <input type="password" class="form-control" id="password" placeholder="Sua senha" name="password" required="required" />
                <p class="help-block text-danger"></p>
            </div>
            <button class="btn btn-primary col-12" type=" submit">Entrar</button>
        </form>
    </div>
</div>


{% endblock content %}

{% block dependencies %}
{% include 'components/dependecies.html' %}

{% endblock %}
