<div class="col-lg-3">
    <div class="card border-secondary">
        <div class="card-header bg-secondary border-0">
            <h4 class="font-weight-semi-bold m-0">
                <a href="{% url 'account:dashboard' %}">Dashboard</a>
            </h4>
        </div>
        <div class="card-body">

            <h5 class="font-weight-medium mb-3">Contas</h5>
            {% if request.user.is_superuser %}
            <div class="d-flex">
                <a href="{% url 'account:create_account' %}">Criar Conta</a>
            </div>
            <div class="d-flex">
                <a href="{% url 'account:account_list' %}">Contas</a>
            </div>
            {% else %}
            <div class="d-flex">
                <a href="{% url 'account:account_me' %}">Minhas Contas</a>
            </div>
            {% endif %}
            <hr class="mt-1">
            <h5 class="font-weight-medium mb-3">Plantas</h5>
            {% if request.user.is_superuser %}
            <div class="d-flex">
                <a href="{% url 'tree:list_plant' %}">Plantas</a>
            </div>
            <div class="d-flex">
                <a href="{% url 'tree:create_plant' %}">Criar Plantas</a>
            </div>
            {% else %}
            <div class="d-flex">
                <a href="{% url 'tree:tree_create' %}">Adicionar Planta</a>
            </div>
            <div class="d-flex">
                <a href="{% url 'tree:tree_me' %}">Minhas Plantas</a>
            </div>
            {% endif %}

            <hr class="mt-1">

            {% if request.user.is_superuser %}
            <h5 class="font-weight-medium mb-3">Usuários</h5>
            <div class="d-flex">
                <a href="{% url 'account:create_user' %}">Criar Usuário</a>
            </div>

            <div class="d-flex">
                <a href="{% url 'account:user_list' %}">Usuários</a>
            </div>
            <hr class="mt-1">
            {% endif %}
            <h5 class="font-weight-medium mb-3">Perfil</h5>
            <div class="d-flex">
                <a href="{% url 'account:update_about' %}">Editar perfil</a>
            </div>
        </div>
    </div>
</div>