<!-- Navbar Start -->
<div class="container-fluid">
    <div class="row border-top px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
            <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="{% url 'account:dashboard' %}" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                <h6 class="m-0">Trees Everywhere</h6>
            </a>

        </div>
        <div class="col-lg-9">
            <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                <a href="" class="text-decoration-none d-block d-lg-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Contas</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                {% for account in accounts %}
                                <a href="{% url 'tree:tree_by_accounts' account.id %}" class="dropdown-item">{{account.name}}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="navbar-nav ml-auto py-0">

                        {% if request.user.is_authenticated %}
                        <a href="{% url 'account:logout' %}" class="nav-item nav-link">

                            <i class="fas fa-chevron-circle-right text-primary "></i>
                            <span class="badge">Sair</span>
                        </a>
                        {% endif %}

                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>