{% extends 'extends.html' %}
{% load static %}
{% block navbar %} {% include 'components/navbar.html' %} {% endblock %}


{% block content %}
<div class="container-fluid pt-3">
    <div class="row px-xl-5">
        {% block dashboard_nav %} {% include 'components/dashboard_nav.html' %} {% endblock %}
        <div class="col-lg-9 table-responsive mb-5">
            <table class="table table-bordered text-center mb-0">
                <thead class="bg-secondary text-dark">
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Nome Científico</th>
                        <th>Idade</th>
                        <th>Data de plantio</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    {% for tree in trees %}
                    <tr>
                        <td class="align-middle">{{tree.id}}</td>
                        <td class="align-middle">{{tree.plant.name}}</td>
                        <td class="align-middle">{{tree.plant.scientific_name}}</td>
                        <td class="align-middle">{{tree.age}}</td>
                        <td class="align-middle">{{tree.plated_at|date:"d M, Y"}}</td>
                        <td class="align-middle">{{tree.latitude}}</td>
                        <td class="align-middle">{{tree.longitude}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}


{% block dependecies %}
{% include 'components/dependencies.html' %}
<script src="{% static 'js/services/plant.js' %}"></script>
{% endblock %}