{% extends 'extends.html' %}
{% load static %}

{% block navbar %} {% include 'components/navbar.html' %} {% endblock %}


{% block content %}

<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        {% block dashboard_nav %} {% include 'components/dashboard_nav.html' %} {% endblock %}
        <div class="col-lg-9 table-responsive mb-5">
            <form id="form-plant-create" method="POST">
                {% csrf_token %}

                <div class="form-group">
                    <label for="name">Nome</label>
                    <input type="text" name="name" class="form-control">
                </div>

                <div class="form-group">
                    <label for="scientific_name">Nome Científico</label>
                    <input type="text" name="scientific_name" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Adicionar Planta</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}


{% block dependecies %}
{% include 'components/dependencies.html' %}
<script src="{% static 'js/services/plant.js' %}"></script>

{% endblock %}