{% extends 'extends.html' %}
{% load static %}
{% block navbar %} {% include 'components/navbar.html' %} {% endblock %}


{% block content %}
<div class="container-fluid pt-3">
    <div class="row px-xl-5">
        {% block dashboard_nav %} {% include 'components/dashboard_nav.html' %} {% endblock %}
        <div class="col-lg-9 table-responsive mb-5">

            {% if plants %}
            <table class="table table-bordered text-center mb-0">
                <thead class="bg-secondary text-dark">
                    <tr>
                        <th>ID</th>
                        <th>Usuário</th>
                        <th>Conta</th>
                        <th>Idade</th>
                        <th>Data de plantio</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    {% for plant in plants %}
                    <tr>
                        <td class="align-middle">{{plant.id}}</td>
                        <td class="align-middle">{{plant.user.first_name}}</td>
                        <td class="align-middle">{{plant.account.name}}</td>
                        <td class="align-middle">{{plant.age}}</td>
                        <td class="align-middle">{{plant.plated_at|date:"d M, Y"}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <h4 class="m-0">Ainda não foram plantadas</h4>

            {% endif %}

        </div>
    </div>
</div>

{% endblock content %}


{% block dependecies %}
{% include 'components/dependencies.html' %}
<script src="{% static 'js/services/plant.js' %}"></script>
{% endblock %}