{% extends 'extends.html' %}
{% load static %}
{% block navbar %} {% include 'components/navbar.html' %} {% endblock %}


{% block content %}
<div class="container-fluid pt-3">
    <div class="row px-xl-5">
        {% block dashboard_nav %} {% include 'components/dashboard_nav.html' %} {% endblock %}
        <div class="col-lg-9 table-responsive mb-5">
            <table class="table table-bordered text-center mb-0">
                <thead class="bg-secondary text-dark">
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Nome Científico</th>
                        <th>Detalhes</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    {% for plant in plants %}
                    <tr>
                        <td class="align-middle">{{plant.id}}</td>
                        <td class="align-middle">{{plant.name}}</td>
                        <td class="align-middle">{{plant.scientific_name}}</td>
                        <td class="align-middle">
                            <a href="{% url 'tree:details_plant' plant.id %}"><i class="fa fa-eye"></i></a>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}


{% block dependecies %}
{% include 'components/dependencies.html' %}
<script src="{% static 'js/services/plant.js' %}"></script>
{% endblock %}